* {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: auto;
    margin: auto;
    background-color: rgb(159, 228, 31);
}

.header {
    height: 55px;
    background-color: darkgrey;
}

.header a {
    text-decoration: none;
    color: black;
}

.header ul li {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: gray;
    margin: 8px;
}

.menu {
    height: 400px;
    background-image: url(Aesthetic-Anime-Wallpapers-Wallpaper-Cave.jpg);
}

.content {
    height: 400px;
    background-color: red;
}

.clear {
    clear: both;
}