.container {
    width: 700px;
    margin: auto;
    padding: 5px
}

.kiri {
    width: 350px;
    height: 400px;
    background-color: rgb(4, 43, 4);
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

img {
    padding-top: 30%;
    padding-left: 10%;
}

.kanan {
    width: 350px;
    height: 400px;
    background-color: whitesmoke;
    float: right;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],
select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: rgb(4, 43, 4);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(4, 43, 4);
}